nav {
  position: fixed;
  top: 18px;
  background: rgba(0, 0, 0, 0.5);
  width: 1024px;
  height: 80px;
  backdrop-filter: blur(20px);
  z-index: 300;
  border-radius: 0 0 10px 10px;
  padding: 30px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .menu {
  display: flex;
  align-items: center;
  width: 466px;
  justify-content: space-between;
  list-style: none;
}

nav .mobile-menu-btn {
  display: none;
}

nav .menu .menu-item a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  padding: 45px 40px;
  left: 0;
  right: 0;
  z-index: 200;
  background-color: #181e1e;
  transform: translateY(-400px);
  transition: all 0.3s ease-out;
  display: none;
}

.mobile-menu-container.open {
  transform: translateY(0);
  display: block;
}

.mobile-menu-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.mobile-menu-container ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-weight: 800;
}

.mobile-menu-container .menu-close-btn {
  position: absolute;
  top: 25px;
  right: 35px;
}

@media (max-width: 1040px) {
  nav {
    width: 690px;
  }

  nav .menu {
    width: 400px;
  }
}
@media (max-width: 720px) {
  nav {
    width: unset;
    left: 24px;
    right: 24px;
    top: 16px;
    height: 60px;
    padding: 20px 10px;
  }
  nav .menu {
    display: none;
  }
  nav .mobile-menu-btn {
    display: block;
  }
}
